{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
  <div class="columns is-centered">
    <div class="column is-5-tablet is-4-desktop is-3-widescreen">
      <form method="post" class="box">

        {% if error %}
          <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
          <div class="mb-3">
            You are logged in as
            {{ app.user.username }},
            <a href="{{ path('app_logout') }}">Logout</a>
          </div>
        {% endif %}

        <h1>Please sign in</h1>
        <div class="field">
          <label for="inputEmail" class="label">Email</label>
          <div class="control has-icons-left">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="e.g. bobsmith@gmail.com" class="input" required autofocus>
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>


        <div class="field">
          <label for="inputPassword" class="label">Password</label>
          <div class="control has-icons-left">
            <input type="password" name="password" id="inputPassword" placeholder="*******" class="input" required>
            <span class="icon is-small is-left">
              <i class="fa fa-lock"></i>
            </span>
          </div>
        </div>


        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {# Uncomment this section and add a remember_me option below your firewall to activate remember me functionality. #}
        {# See https://symfony.com/doc/current/security/remember_me.html #}

        {# <div class="field">
            <label for="_remember_me" class="checkbox">
                <input type="checkbox" name="_remember_me">
                Remember me
            </label>
        </div> #}

        <div class="field">
          <button class="button is-success" type="submit">
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
