@import "~bulma";

footer {
    background: #f8f8f8;
    margin-top: 3rem;
    padding: 0.2rem 0;
    position: absolute;
    bottom: 0;
    width: 100%
}

.heart {
    color: crimson;
    padding: 0 5px;
    font-size: 1.5em
}

