<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container">
                {% block body %}{% endblock %}
            </div>
        </section>
        <footer>
            <div class="container">
                <div class="content has-text-centered">
                    Made with
                    <span class="heart">♥</span> in Poland
                </div>
            </div>
        </footer>
    </div>
    {% block javascripts %}{% endblock %}
</body>

</html>
